@model BeFitApp.Models.Program

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Program</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>

    </dl>
</div>
<p>
    @{
        var db = new BeFitApp.Models.OOADContext();
        var ids = db.Database.SqlQuery<int>("SELECT id FROM dbo.VjezbaUProgramu WHERE ProgramId = " +
            Model.Id.ToString()).ToList();

        for (int i = 0; i < ids.Count; i++)
        {
            @Html.ActionLink("Vjezba " + (i + 1).ToString(), ids[i].ToString(), "VjezbaUProgramu/Details")<br>
        }
    }
    <hr />

    @Html.ActionLink("Edit", "Edit", new { id = Model.Id })

   <hr/>
    <h3>
   Komentari
   </h3>
   @{
       var id = Static.ProgramKomentarId;
       var items = (from x in db.Komentars where x.ProgramAjDi == id
                    select x).ToList();
       foreach(var item in items)
       {
           <hr />
           <h5>@Static.GetImeIPrezime(item.KorisnikId)</h5>
           <h5>@item.Text</h5>
           <hr />
       }
   }
    <br />
    @Html.ActionLink("Dodaj komentar", "Create", "Komentar")
</p>
